.clientsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-width: 100vw;
    margin-top: 50px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#99E1D9, #5D576B);
        clip-path: circle(25% at right 60%);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#F7567C, #5D576B);
        clip-path: circle(25% at left 60%);
    }
}