.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1480px;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
}

.card {
    position: relative;
    width: 280px;
    height: 280px;
    margin: 10px;
    padding: 10px;
    box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.1);
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.content {
    padding: 35px;
    text-align: center;
    transition: 0.5s;

    h2 {
        position: absolute;
        top: -20px;
        right: 10px;
        font-size: 5.5em;
        color: rgba(0,0,0, 0.05);
        pointer-events: none;

    }

    h3 {
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 0.5em;
    }
}


